/* Universal Styles */

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: #d5d5d5;
}

.main-content {
  position: relative;
  top: 64px; /* To offset for fixed header. */
}

.image-container {
  padding: 32px 24px;
  width: 60%;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.image-container video {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 16px 24px;
}

header .logo {
  display: flex;
  flex: 1;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
}

header .colmar {
  font-weight: bold;
  color: #404040;
}

header .academy {
  font-weight: lighter;
  color: #999999;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 16px;
}

nav a {
  vertical-align: bottom;
  font-size: 1rem;
  color: #666666;
  text-decoration: none;
}

header .mobile {
  display: none;
}

/* Sign Up */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sign-up-cta {
  width: 40%;
  padding-left: 16px;
}

.sign-up-cta h1 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.2rem;
  padding: 10px 100px 10px 0px;
  color: #404040;
}

.sign-up-cta p {
  font-size: 1.0rem;
  line-height: 1.5rem;
  padding: 10px 100px 10px 0px;
  color: #404040;
}

.sign-up-cta .button {
  background-color: #404040;
  padding: 8px 80px;
  margin: 10px 0px;
  color: white;
  font-size: 0.9rem;
  width: 75px;
}

/* Information */

#information-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f1f1f1;
}

.text-container {
  padding-top: 32px;
  color: #404040;
}

.text-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 24px;
}

.text-container p {
  font-size: 0.75rem;
  line-height: 1.1rem;
  padding-bottom: 24px;
  color: #737373;
}

.text-container a {
  font-size: 0.75rem;
  line-height: 1.1rem;
  padding-bottom: 24px;
  color: #404040;
}

.column {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-right: 16px;
  width: 40%;
}

.column li {
  display: inline-flex;
  align-items: center;
}

.column li img {
  width: 35%;
  padding: 16px 16px 16px 0px;
}

.column li div {
  width: 65%;
}

.column h3 {
  font-size: 1rem;
  color: #404040;
  padding-bottom: 8px;
  line-height: 1.2rem;
}

.column p {
  font-size: 0.7rem;
  color: #666666;
  padding-bottom: 8px;
  line-height: 1.2rem;
}

.column a {
  font-size: 0.7rem;
  color: #1f75cc;
  line-height: 1.2rem;
}

/* Courses */

#courses-section {
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h2 {
  padding: 32px 32px 16px 32px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #404040;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 56px 16px 56px;
}

.grid ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 30%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: white;
  margin: 16px;
}

.container img {
  height: auto;
  width: 100%;
}

.container div {
  margin: 16px;
  height: 100px;
}

.container h3 {
  font-size: 1rem;
  color: #404040;
}

.container h4 {
  font-size: 0.8rem;
  color: #999999;
  padding: 8px 0px;
  text-transform: uppercase;
}

.container p {
  font-size: 0.7rem;
  color: #999999;
  line-height: 1rem;
  padding-bottom: 8px;
}

/* Exhibit */

#exhibit-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f1f1f1;
}

.thesis {
  background-color: #f1f1f1;
}

.thesis h2 {
  padding: 32px 32px 0px 32px;
}

/* Footer */

footer .content {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #f1f1f1;
  font-size: 0.7rem;
  color: #666666;
}

.legal li {
  display: inline;
  font-size: 0.8rem;
}

footer nav a {
  font-size: 0.7rem;
}
